@charset "utf-8";
/* CSS Document */
/* Style the header with a grey background and some padding */

body{
	margin: 0;
	background: #D4E6FF;
	min-height: 100%;
}
.header {
  background: #BC0808;
  height: 10vh;
  line-height: 10vh;
  padding: 0vw 10vw;
  position: sticky;
  top: 0;
}
.header-left {
  position: relative;
  float: left;
  line-height: 10vh;
}
.header-right {
  position: relative;
  float: right;
  line-height: 10vh;
  padding: 0% 10vw;
}
.text_left {
  font-size: 2vw;
  margin-left: 10vw;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  color: white;
  font-weight: bold;
  display: block;
  vertical-align: middle;
}
.button_right {
  font-size: 1vw;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  color: white;
  margin-left: 1.5vw;
  border-radius: 0px;
  vertical-align: top;}

.button_right:hover{
	color: black;
}
.subheader {
  height: auto;
  padding: 1vh 20vw;
  margin: 0;
}
.subheader a {
  text-align: justify;
  margin-left: 20px;
  font-size: 18px;
  display: block;
}
.footer {
	background: #BC0808;
	text-align: center;
	width: 100%;
	bottom: 0;
	position: fixed;
	padding: 15px 0;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: white;
}


.footer a:link {
  color: white;
  text-decoration: none;
}